import { z } from "zod";

export const {{ .Name.Singular.Title }}Schema = z.object({
{{- range .Columns}}
{{- if eq .DataType.Original "decimal" }}
  '{{ .Name.Original }}': z.string(),
{{- else if or (eq .DataType.Original "jsonb") (eq .DataType.Original "json") }}
    '{{ .Name.Original }}': z.array(),
{{- else if .IsUnixTimestamp }}
    '{{ .Name.Original }}': z.number(),
{{- else }}
    '{{ .Name.Original }}': z.{{ .ObjectType }}(),
{{- end }}
{{- end }}
});

export type {{ .Name.Singular.Title }} = z.infer<typeof {{ .Name.Singular.Title }}Schema>;
