"use server";

import { {{ .Name.Singular.Title }}Repository } from "@/repositories/admin/{{ .Name.Singular.Snake }}_repository";
import { auth } from "@/libraries/auth";

export async function delete{{ .Name.Singular.Title }}({{ .Name.Singular.Snake }}Id: string) {
  const session = await auth();
  const repository = new {{ .Name.Singular.Title }}Repository(session?.access_token);

  try {
    await repository.delete({{ .Name.Singular.Snake }}Id);
    return true;
  } catch (error) {
    console.error("Failed to delete {{ .Name.Singular.Snake }}:", error);
    throw new Error("Failed to delete {{ .Name.Singular.Snake }}");
  }
}
